<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>无标题文档</title>
</head>
<link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}main.css">
<link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}general.css">
<link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}resoult.css">
<body>
<h1>
<span class="action-span">
<a href="__CONTROLLER__/lst"><img src="{$Think.const.ADMIN_IMG_URL}icon_add.gif" align="left">公告列表</a></span>
<span class="action-span1"><a href="">管理中心</a> </span><span id="search_id" class="action-span1">---公告信息</span>
<div style="clear:both"></div>
</h1>
<div class="form-div">

</div>
 <table width="45%" border="0" align="center" cellpadding="2" cellspacing="1">
 <form action="__SELF__" method="post">
 <input type="hidden" name="id" value="{$info['id']}" />
    <tr>
        <td align="right">公告内容：</td>
        <td colspan="3" align="left">
            <textarea name="content" cols="60" rows="8">{$info['content']}</textarea>&nbsp;
        </td>
    </tr>
 </form>
 </table>
<div id="footer">
版权所有 &copy; - 南工社团 - 
</div>
</body>
</html>
