<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}main.css">
<link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}general.css">
<link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}resoult.css">
</head>
<body>
<h1>
<span class="action-span">
<a href="__CONTROLLER__/add"><img src="{$Think.const.ADMIN_IMG_URL}icon_add.gif" align="left">添加链接</a></span>
<span class="action-span1"><a href="">管理中心</a> </span><span id="search_id" class="action-span1">---链接资源</span>
<div style="clear:both"></div>
</h1>
<div class="form-div">
</div>
 <table width="100%" border="1" align="center" cellpadding="2" cellspacing="1" frame=box rules=none bordercolor="#99FF66">
    <tr class="tableHeader2">
        <td width="15%" align="center" height="15"><b>链接名称</b></td>
        <td width="15%" align="center" height="15"><b>链接地址</b></td>
        <td width="15%" align="center" height="15"><b>操作</b></td>
    </tr>
    <volist name='info' id='v'>
    <tr>
        <td align="center">{$v['name']}</td>
        <td align="center">{$v['addr']}</td>
        <td align="center">
            <a href="__CONTROLLER__/del/id/{$v['id']}">删除</a>           
        </td>
    </tr>
    </volist>
    <tr>
        <td colspan="7" style="text-align:right;">
            {$page}
        </td>
    </tr>
  </table>
<div id="footer">
版权所有 &copy; - 南工社团 - 
</div>
</body>
</html>
